  <div class="photo4">
    <div class="photo4__image">
      <%= image_tag "cafe4.webp", class: "photo4__image__el" %>
      <p class="photo4__image__ms">“Whether you think you can, or you think you can’t – You’re right.”</p>
      <p class="photo4__image__msn">Henry Ford</p>
    </div>
    <div class="content4">
      <p class="content4__user">user   logout</p>
      <p class="content4__text">朝は自己コントロール感も高い</p>
    </div>
  </div>