<div>
  <div class="photo2">
    <div class="photo2__image">
      <%= image_tag "cafe2.webp", class: "photo2__image__el" %>
      <p class="photo2__image__ms">“Just as eating against one’s will is injurious to health, so studying without a liking for it spoils the memory, and it retains nothing it takes in.”</p>
      <p class="photo2__image__msn">Leonardo da Vinci</p>
    </div>
  </div>
  <div class="content">
    <div class="content__c">
      <div class="content__c__name">
        <p class="content__c__name__title">Turry's 小倉貴船店</p>
        <%= image_tag "turrys.jpeg", class: "content__c__name__image" %>
      </div>
      <div class="content__c__detail">
        非常に落ち着いた空間です。<br>
        隣の本屋と連結しており、カフェを利用すれば本を１冊くつろぎながら読むことができます。<br>
        wi-fi環境もばっちりです。<br>
      </div>
    </div>
  </div>
</div>