<div class="register">
  <div class="register__form">
    <p class="register__form__title">New Shop</p>
    <div class="register__form__name">
    <label class="register__form__name__label">Name</label>
    </div>
    <div class="register__form__image">
      <label class="register__form__image__label">Image</label>
    </div>
    <div class="register__form__detail">
      <label class="register__form__detail__label">Detail</label>
    </div>
    <div class="register__form__submit">
      <label class="register__form__submit__label">Send</label>
    </div>
  </div>
</div>