<div class="shop-about">
  <div class="content">
    <div class="content__image">
      <%= image_tag "turrys.jpeg", class: "content__image__c" %>
    </div>
    <div class="content__name">
      <p class="content__name__c">Turry's 小倉貴船店</p>
    </div>
    <div class="content__detail">
      <div class="content__detail__c">
        非常に落ち着いた空間です。<br>
        隣の本屋と連結しており、カフェを利用すれば本を１冊くつろぎながら読むことができます。<br>
        wi-fi環境もばっちりです。<br>
      </div>
    </div>
    <div class="content__tel">
      <label class="content__tel__label">Tel</label>
      <p class="content__tel__c">	093-967-3767</p>
    </div>
    <div class="content__address">
      <label class="content__address__label">Address</label>
      <p class="content__address__c">	福岡県北九州市小倉北区貴船町1-1</p>
    </div>
    <div class="content__url">
      <label class="content__url__label">URL</label>
      <p class="content__url__c">https://map.tullys.co.jp/tullys/detailMap?account=tullys&accmd=0&c21=1&adr=40&bid=827&pgret=2</p>
    </div>
  </div>
</div>