<div class="main">
  <div class="photo">
    <div class="photo__image">
      <%= image_tag "cafe1.webp", class: "photo__image__el" %>
      <p class="photo__image__ms">“Once you stop learning, you start dying.”</p>
      <p class="photo__image__msn">Albert Einstein</p>
    </div>
  </div>
</div>

<%# <div id="app">
  <p>{{name}}</p>
</div> %>