<div class="main">
  <div class="photo">
    <div class="photo__image">
      <%= image_tag "cafe1.webp", class: "photo__image__el" %>
      <p class="photo__image__ms">“Once you stop learning, you start dying.”</p>
      <p class="photo__image__msn">Albert Einstein</p>
    </div>
  </div>
  <div class="introduction">
    <p class="introduction__p">ある偉人の言葉に</p>
    <p class="introduction__p">「人の上に人を作らず、人の下に人を作らず」</p>
    <p class="introduction__p">というものがあります。</p>
    <p class="introduction__p">しかし、これには続きがあります。</p>
    <p class="introduction__p">それは</p>
    <p class="introduction__p">「学問に励んだかどうかで違いが生じる」</p>
    <br>
    <p class="introduction__p">当サイトは</p>
    <p class="introduction__p">自己を高めるに不可欠な"study"に</p>
    <p class="introduction__p">効果的な情報を"pool"することが目的です。</p>
  </div>
  <div class="photo2">
    <div class="photo2__image">
      <%= image_tag "cafe2.webp", class: "photo2__image__el" %>
      <a href="#" class="photo2__image__ms">Shops</a>
      <p class="photo2__image__msn">勉強に最適なカフェ等を紹介します</p>
    </div>
  </div>
  <div class="photo2">
    <div class="photo2__image">
      <%= image_tag "cafe3.webp", class: "photo2__image__el" %>
      <a href="#" class="photo2__image__ms">Study_tips</a>
      <p class="photo2__image__msn">効率的な学習方法や取り組み方を紹介します</p>
    </div>
  </div>
  <div class="photo2">
    <div class="photo2__image">
      <%= image_tag "cafe4.webp", class: "photo2__image__el" %>
      <p class="photo2__image__ms">Messages</p>
      <p class="photo2__image__msn">もっと良い勉強法などをご紹介いただけると幸いです</p>
    </div>
  </div>
</div>

<%# <div id="app">
  <p>{{name}}</p>
</div> %>