<div>
  <div class="photo3">
    <div class="photo3__image">
      <%= image_tag "cafe3.webp", class: "photo3__image__el" %>
      <p class="photo3__image__ms">“Once you stop learning, you start dying.”</p>
      <p class="photo3__image__msn">Albert Einstein</p>
    </div>
  </div>
  <div class="content2">
    <h2 class="content2__title">朝の効率性</h2>
    <div class="content2__detail">
       お昼ご飯の時間帯を16:30~17:00で取るべきです。<br>
       思考が最も研ぎ澄まされるのは朝です。<br>
       しかし、通常の生活ではたいてい朝の時間は3時間程度です。<br>
       であるならば、お昼ご飯を食べる前の朝の状態を可能な限り引き延ばすことは<br>
       合理的な判断と言えます。<br>
    </div>
  </div>
</div>