<div class="register2">
  <div class="register2__form">
    <p class="register2__form__title">New Study_tips</p>
    <div class="register2__form__name">
    <label class="register2__form__name__label">Tittle</label>
    </div>
    <div class="register2__form__detail">
      <label class="register2__form__detail__label">Detail</label>
    </div>
    <div class="register2__form__submit">
      <label class="register2__form__submit__label">Send</label>
    </div>
  </div>
</div>