.photo3 {

  &__image {
    position: relative;

    &__el {
      width: 100%;
      height: 400px;
      object-fit: cover;
    }

    &__ms {
      position: absolute;
      color: white;
      top: 0;
      left: 0;
      font-size: 2em;
      font-family: Quicksand, sans-serif;
    }

    &__msn {
      position: absolute;
      color: white;
      top: 50px;
      right: 0;
      font-size: 2em;
      font-family: Quicksand, sans-serif;
    }
  }
}

.content2 {
  margin: 100px 150px;

  &__title {
    font-size: 2em;
    margin-top: 100px;
  }

  &__c {
    margin-top: 50px;
    margin-left: 50px;
  
    &__detail {
      
    }
  
    &__image {
      height: 200px;
      width: 300px;
      object-fit: cover;
    }
  }

  &__more {
    margin-top: 20px;
    margin-left: 50px;

    &__ul {
      display: flex;

      &__li {

        &__el {
          text-decoration: none;
          color: black;
          margin-right: 40px;
        }
      }
    }
  }
}


.register2 {
  position: relative;
  height: 100%;
  width: 100%;
  
  &__form {
    background: #ffffff;
    height: 100%;
    width: 700px;
    margin: 100px auto;

    &__title {
      text-align: center;
      font-size: 2em;
      margin-bottom: 100px;
    }
  
    &__name {
      margin-bottom: 150px;
      margin-left: 100px;
    }
  
    &__detail {
      margin-bottom: 150px;
      margin-left: 100px;
    }

    &__image {
      margin-bottom: 150px;
      margin-left: 100px;
    }

    &__submit {
      text-align: center;
      height: 150px;
    }
  }

}
